<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link rel="stylesheet" href="/style.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <header th:fragment="header">
            <h1 class="title">Data analytics for health science</h1>
            <ul class="menubar">
                <li class="menubar">
                    <a class="menubar" href="/">
                        Home
                    </a>
                </li>
                <li class="menubar">
                    <a class="menubar" href="/db">
                        Database
                    </a>
                </li>
                <li class="menubar">
                    <a class="menubar" href="/signup">
                        Sign Up
                    </a>
                </li>
            </ul>
        </header>
    </body>
</html>