<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Database</title>
        <link rel="stylesheet" href="/style.css"></link>
        <script src="common.js"></script>
        <script type="text/javascript">
            window.onload = loadFacilities;
            function loadFacilities() {
                get("/rest/getFacilities").then(data => {
                    facilities = JSON.parse(data);
                    facilityList = document.getElementById("facilityList");
                    for(var i = 0; i < facilities.length; i++) {
                        facilityList.innerHTML += "<li class=\"sidebar\">" +
                            "<a class=\"sidebar\" href=\"#\" onclick=\"populateFacility('"+facilities[i].id+"','"+facilities[i].name+"','"+facilities[i].location+"')\">" +
                            "<img width=32 height=32 src=\"" + (facilities[i].image || "/images/unknownSite.png") + "\" alt=\"Image\">" +
                            facilities[i].name +
                            "</li></a>";
                    }
                });
            }
            function populateFacility(id, name, location) {
                get("/rest/getFacilityData?id="+id).then(data => {
                    facility = JSON.parse(data);
                    facilityInfo = document.getElementById("facilityInfo");
                    result = "";
                    result = "<h2>" + name + "</h2>";
                    result += "<h3>Located in: " + location + "</h3>";
                    result += "<p>Equipment:</p><table><th><td>People trained</td><td>Researchers using</td><td>Publications using</td><td>Students using</td><td>Samples processed</td>";
                    for(var i = 0; i < facility.length; i++) {
                        result += "<tr><td>" + facility[i].name + "</td>";
                        result += "<td>" + facility[i].trained + " people trained</td>";
                        result += "<td>" + facility[i].researchers + " researchers using this equipment</td>";
                        result += "<td>" + facility[i].publications + " publications using this equipment</td>";
                        result += "<td>" + facility[i].students + " students using this equipment</td>";
                        result += "<td>" + facility[i].samples + " samples processed using this equipment</td>";
                        result += "</tr>";
                    }
                    result += "</table>";
                    facilityInfo.innerHTML = result;
                });
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div style="display:flex;height:100%;flex-direction:row">
            <ul id="facilityList" class="sidebar"></ul>
            <div id="facilityInfo" style="width:100%"></div>
        </div>
    </body>
</html>
