<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Uh oh</title>
        <link rel="stylesheet" href="/style.css"></link>
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <h1>Uh oh.</h1>
        <p>You shouldn't be here.
            Seeing as you are, it's probably a bug, or you were playing with random web addresses.</p>
        <p>Please return to the homepage via the navigation bar above. Thank you!</p>
    </body>
</html>