<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign up</title>
        <link rel="stylesheet" href="/style.css"></link>
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>

        <form action="/auth/create-account" method="POST">
            <h1>Log in</h1>
            <label for="uname">Username</label>
            <input type="text" id="uname" name="uname" required>
            <label for="passwd">Password</label>
            <input type="password" id="passwd" name="passwd" required>
            <input value="Log in" type="submit" />
        </form>
    </body>
</html>
