<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign up</title>
        <link rel="stylesheet" href="/style.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img src="/images/signup.png" height="500px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <form action="/auth/create-account" method="POST">
                            <div class="jumbotron">
                                <h1>Sign up</h1>
                            </div>
                            <div class="form-group">
                                <label for="uname">Username</label>
                                <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter Username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="passwd">Password</label>
                                <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Enter Password" required>
                            </div>
                            <input class="btn btn-primary" value="Create account" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">This Project Is Open Source. You can view the source code <a class="text-dark" href="https://github.com/chorman0773/Winhacks2021">here</a></div>
        </footer>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
